.wrap {
    padding: 8px 16px;
    background: #000433;
    display: flex;
    gap: 15px;
}

.reject__btn {
    border-radius: 8px;
    border: 2px solid #00deb6;
    background: #fff;
    border-radius: 4px !important;
    padding: 14px 27px !important;
    height: 100% !important;
}
