.button {
    border-radius: 4px;
    background: #00deb6;
    padding: 14px;

    width: 100%;
    border: none;

    color: #262637;
    font-size: 14.25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
