.head {
    background: #262637;
    padding: 18px 16px 24px;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 22.313px;
    font-weight: 500;
    line-height: 26px;
    max-width: 280px;
    margin: 0 auto;
}

.pretitle {
    color: #00deb6;
    text-align: center;
    font-size: 14.75px;
    font-weight: 500;
    line-height: 20px;
    margin: 19px 0 11px;
}
