.header {
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
    background: #fff;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: #0000006c;

    &.active {
        opacity: 1;
        visibility: visible;
        .header__links {
            transform: translateX(0);
        }
    }

    .header__links {
        transition: 0.5s;
        transform: translateX(-300px);
        width: 50%;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        a {
            color: #262637;
            font-size: 14.5px;
            text-decoration: none;
        }
    }
}
